<main class="container-fluid">
  <section class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Formulario</h5>
      <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="row g-3">
        <div class="row g-3">
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Nombre</mat-label>
              <input matInput [formControl]="nombreControl"
                [ngClass]="{'is-invalid': nombreControl.invalid && nombreControl.touched}" class="form-control"
                placeholder="Nombre">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>El nombre debe tener minimo 6 caracteres</mat-hint>
              <mat-error>Este es un campo requerido</mat-error>
            </mat-form-field>
            <!-- <label for="nombre" class="form-label">Nombre</label>
            <input [formControl]="nombreControl" type="text"
              [ngClass]="{'is-invalid': nombreControl.invalid && nombreControl.touched}" class="form-control"
              placeholder="Nombre" aria-label="Nombre"> -->
            <!-- <app-form-error-helper *ngIf="nombreControl.invalid && nombreControl.touched"
              [formErrors]="nombreControl.errors"></app-form-error-helper> -->
            <!-- <div *ngIf="nombreControl.hasError('required') && nombreControl.touched" class="invalid-feedback">Mínimo 10
              caracteres</div>
            <div *ngIf="nombreControl.hasError('required') && nombreControl.touched" class="invalid-feedback">Requerido
            </div> -->

          </div>
          <div class="col">
            <label for="apellido" class="form-label">Apellido</label>
            <input [formControl]="apellidoControl" type="text"
              [ngClass]="{'is-invalid': apellidoControl.invalid && apellidoControl.touched}" class="form-control"
              placeholder="Apellido" aria-label="Apellido">
            <app-form-error-helper *ngIf="apellidoControl.invalid && apellidoControl.touched"
              [formErrors]="apellidoControl.errors"></app-form-error-helper>
          </div>
        </div>
        <div class="col-md-6">
          <label for="inputEmail" class="form-label">Email</label>
          <input [formControl]="emailControl" type="email" class="form-control"
            [ngClass]="{'is-invalid': emailControl.invalid && emailControl.touched}" id="inputEmail"
            placeholder="user@mail.com">
          <app-form-error-helper *ngIf="emailControl.invalid && emailControl.touched"
            [formErrors]="emailControl.errors"></app-form-error-helper>
        </div>
        <div class="col-md-6">
          <label for="curso" class="form-label">Curso</label>
          <select [formControl]="cursoControl" id="curso" class="form-select"
            [ngClass]="{'is-invalid': cursoControl.invalid && cursoControl.touched}">
            <option selected>Escoger...</option>
            <option>Node</option>
            <option>Python</option>
            <option>Java</option>
          </select>
          <app-form-error-helper *ngIf="cursoControl.invalid && cursoControl.touched"
            [formErrors]="cursoControl.errors"></app-form-error-helper>
        </div>

        <div class="col-md-6">
          <label for="inputPassword" class="form-label">Password</label>
          <input [formControl]="passwordControl" type="password"
            [ngClass]="{'is-invalid': passwordControl.invalid && passwordControl.touched}" class="form-control"
            id="inputPassword">
          <app-form-error-helper *ngIf="passwordControl.invalid && passwordControl.touched"
            [formErrors]="passwordControl.errors"></app-form-error-helper>
        </div>

        <div class="col-md-6">
          <label for="reinputPassword" class="form-label">Re-Password</label>
          <input [formControl]="repasswordControl" type="password"
            [ngClass]="{'is-invalid': repasswordControl.invalid && repasswordControl.touched}" class="form-control"
            class="form-control" id="reinputPassword">
          <app-form-error-helper *ngIf="repasswordControl.invalid && repasswordControl.touched"
            [formErrors]="repasswordControl.errors"></app-form-error-helper>
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Dirección</label>
          <input [formControl]="direccionControl" type="text" class="form-control"
            [ngClass]="{'is-invalid': direccionControl.invalid && direccionControl.touched}" class="form-control"
            id="inputAddress" placeholder="1234 Main St">
          <app-form-error-helper *ngIf="direccionControl.invalid && direccionControl.touched"
            [formErrors]="direccionControl.errors"></app-form-error-helper>
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Dirección 2</label>
          <input [formControl]="direccion2Control" type="text" class="form-control" class="form-control"
            id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Ciudad</label>
          <input [formControl]="ciudadControl" type="text" class="form-control"
            [ngClass]="{'is-invalid': ciudadControl.invalid && ciudadControl.touched}" class="form-control"
            id="inputCity">
          <app-form-error-helper *ngIf="ciudadControl.invalid && ciudadControl.touched"
            [formErrors]="ciudadControl.errors"></app-form-error-helper>
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">Provincia</label>
          <select [formControl]="provinciaControl" id="inputState"
            [ngClass]="{'is-invalid': provinciaControl.invalid && provinciaControl.touched}" class="form-select">
            <option selected>Escoger...</option>
            <option>Guayas</option>
            <option>El Oro</option>
          </select>
          <app-form-error-helper *ngIf="provinciaControl.invalid && provinciaControl.touched"
            [formErrors]="provinciaControl.errors"></app-form-error-helper>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input [formControl]="zipControl" type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-12">
          <div class="form-check">
            <input [formControl]="vipControl" class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              VIP
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
    </div>
  </section>

  <section class="card">
    <div class="card-body">
      <h5 class="card-title">Listado</h5>
      <pre>{{alumnos | json}}</pre>
    </div>
  </section>
</main>
